<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
    </head>
    <body>
        <h1>This is the login page for business</h1>
        <div><a href="/business">Back</a></div>
        <form action="/business/login" method="POST">
            <input type="text" name="username" placeholder="fullname">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit">
        </form>
    </body>
    </html>