.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.alert-light {
  background: var(--light-color);
  color: #333;
}
.alert-danger {
  background: #d50000;
  color: #fff;
}
.alert-success {
  background: #64dd17;
  color: #fff;
}
