.message__status {
  text-align: right;
  font-size: 0.8em;

  &.failed {
    color: red;
  }
}
.no-msg {
  color: #444444;

  &.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  &.img {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  &.title {
    font-size: 17px;
    font-weight: bold;
    line-height: 0.88;
  }

  &.description {
    font-size: 13px;
    line-height: 1.15;
  }
}

.message-list__more {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;

  &.prev {
    margin-top: 50px;
  }

  &.next {
    margin-bottom: 10px;
  }
}

.message-list__more-spinner {
  text-align: center;

  &.prev {
    margin-top: 50px;
  }
}

#msg-list-wrapper {
  background-color: #f6f6f6;
  padding: 1.5em;
  flex: 100%;
  a {
    color: inherit;
  }
}

.message-list__message-to-display {
  background-color: #fff;
  border-radius: 10px 10px 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 1.1em;
  line-height: 1.75em;
}
.message-list__message-to-display.is-own {
  background-color: #1c9aea;
  color: #fff;
  border-radius: 10px 10px 0 10px;
  // font-weight: 500;
  letter-spacing: 0.05em;
}
