<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Directions Service</title>
    <link rel="stylesheet" href="directionsResult.css" />
  </head>
  <body>
    <div id="right-panel"></div>
    <div id="map"></div>
    <script type="text/javascript" src="directionsResult.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjucyjCeaC5ddig7Hd_RyzPrqWiBIwXhM&callback=initMap"
    ></script>
  </body>
</html>
