<!DOCTYPE html>
<html>
    <head>
        <title>Edit page</title>
    </head>
    <body>
        <h1>This is the edit product page for business</h1>
        <h2>Edit product of <%=shop.shopName%></h2>
        <form action="/business/<%=business_id%>/shop/<%=shop._id%>/product/<%=product._id%>" method="POST">
            <input type="text" name="product[name]" placeholder="name" value="<%=product.name%>">
            <input type="text" name="product[image]" placeholder="image URL" value="<%=product.image%>">
            <input type="text" name="product[description]" placeholder="description" value="<%=product.description%>">
            <input type="number" name="product[price]" placeholder="price" value="<%=product.price%>">
            <input type="submit">
        </form>
        <form action="/business/<%=business_id%>/shop/<%=shop._id%>/product/<%=product._id%>?_method=DELETE" method="POST">
            <button>delete</button>
        </form>>
    </body>
    </html>