<!DOCTYPE html>
<html>
    <head>
        <title>Manage products page</title>
    </head>
    <body>
        <h1>This is the manage products page for business- edit and delete</h1>
        <% shop.products.forEach(function(product) { %>
            <ul>
                <li><%=product.name%></li>
                <li><a href="/business/<%=shop.shopOwner%>>/shop/<%=shop._id%>>/product/<%=product._id%>/edit-product">Edit product</a></li>
                <li><img src="<%=product.image%>"></li>
                <li><%=product.description%></li>
                <li><%=product.price%></li>
                <li>next</li>
            </ul>
        <% }) %>
    </body>
    </html>