<!DOCTYPE html>
<html>
    <head>
        <title>Add page</title>
    </head>
    <body>
        <h1>This is the add products page for business</h1>
        <h2>Add products to <%=business.shopName%></h2>
        <form action="/business/<%=business._id%>/shop/<%=shop_id%>" method="POST">
            <input type="text" name="product[name]" placeholder="name">
            <input type="text" name="product[image]" placeholder="image URL">
            <input type="text" name="product[description]" placeholder="description">
            <input type="number" name="product[price]" placeholder="price">
            <input type="submit">
        </form>
    </body>
    </html>