<!DOCTYPE html>
<html>
    <head>
        <title>Add page</title>
    </head>
    <body>
        <h1>This is the view profile for business owners</h1>
        <h2>View <%=business.shopName%>'s profile</h2>
        <ul>
            <li>shop name: <%=business.shopName%></li>
            <li>email: <%=business.username%></li>
            <% if(business.shop) { %>
            <li>shop description: <%=business.shop.shopDescription%></li>
            <li>store avatar: <img src="<%=business.shop.shopAvatar%>"></li>
            <li>business address: <%=business.shop.address%></li>
            <% } else { %>
                <li>shop has not been set up, no shop info to display</li>
            <% } %>
        </ul>
    </body>
    </html>